{% extends 'mainapp/base.html'%}
{% load static %}
{% block 'content' %}
<main>
    <div class="slider-area">
        <div class="slider-item-active">
            <div class="slider-item">
                <div class="slider-bg1 slider-height hero-overly slider-bg1 d-flex align-items-center ">
                    <div class="container">
                        <div class="slide-content">
                            <p>Рассохина Наталия </p>
                            <h1>Психолог из Майами</h1>
                            <h4>Со мной ты становишься увереннее,<br> начинаешь слышать себя и идти в направление своих
                                ценностей.<br> Появляется желания жить , делать, созидать .</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery-area section-padding40">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-12">
                    <div class="section-tittle mb-50 fw-500">
                        <h2 style="text-align: center; font-weight: 500;">Обо мне</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-tittle mb-60">
                    <img src="{% static 'img/main.jpg'%}" style="object-fit: cover; width: 100%;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-tittle mb-60">
                        <p style="text-align: center;">Я &mdash; Рассохина Наталия. <br>
                            Консультирующий, дипломированный психолог, коуч.
                            Провожу индивидуальные консультации онлайн по всему миру или офлайн Майами США.<br>
                        </p><hr>
                        <p style="font-weight: 500; text-align: center;">
                            	&emsp;С 2019 года провожу консультации.
                            В личной терапии с 2007 года .
                            15 лет опыт введение собственного бизнеса .
                            Имею диплом высшего образования: Экономика и управление на предприятии.
                            Диплом о профессиональной переподготовке на психолога на базе высшего образования.<br>

                            	&emsp;Повышала квалификацию : в институте практической психологии Иматон( Санкт-Петербург) ; школа
                            психологии Psy Hub(Киев); международная школа психологии «Времена».
                            Проходила курс в :
                            Stanford (США)
                            MBA SYSTEM COACH (Prague)
                            Участвовала в Всероссийском мероприятие с международным участием саммите психологов.
                            Проходила мастер класс у Тони Роббинса.
                            Курсы в институте Гештальта.<br>

                            	&emsp;В данный момент повышаю квалификацию в годовой программе в институте МГУ(Москва) на курсе
                            Терапии принятие и ответственности.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pricing-card-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center">
                        <h2 class="fs-4rem fw-500" >С чем могу Вам помочь</h2>
                    </div>
                </div>
            </div>
            <div class="FAQ" style="">
                <a href="#hide3" class="hide" id="hide3" style="height: 60px; font-size: 25px;">Подробнее</a>
                <a href="#show3" class="show" id="show3" style="height: 60px; font-size: 25px;">Скрыть</a>
                <div class="question"></div>
                <div class="row list" style="margin-bottom: 5%;">
                    <div class="col-lg-12">
                        <ul>
                            <li>&emsp;Бизнес запросы. Масштабирование. Выйти на новый финансовый уровень.
                                Зарабатывать своим делом большие деньги комфортным для вас способом.
                            </li>

                            <li>&emsp;Справиться выйти из кризисной ситуации.
                                Выход из кризисного /тревожного / депрессивного состояния.
                            </li>

                            <li>&emsp;Укрепление внутренних опор. Страх выделяться  и быть видимым для других.
                                Поиск себя и своего предназначения.
                            </li>

                            <li>&emsp;Понимания своих истинных ценностей / желаний.
                                С запросом "не знаю, что и чего хочу".
                            </li>

                            <li>&emsp;Жить для себя. Где взять силы и ресурсы.
                            </li>

                            <li>&emsp;Чтобы не мешали страх, стыд, обида жить полноценно.
                            </li>

                            <li>&emsp;Адаптация в новой стране. Сложности в эмиграции. Адаптироваться к изменениям.
                            </li>

                            <li>&emsp;Проблемы, сложности в отношениях. Не получается пережить расставание / развод.
                            </li><hr>
                        </ul>
                    </div>
                    <p class="col-lg-12 b-768" style="text-align: center;">
                        Так же у вас может не быть четкого сформулированного запроса, но есть желание в поиске ясности.
                    </p>
                </div>
            </div>
        </div>
    </section>

     <section class="pricing-card-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center">
                        <h2 class="fs-4rem fw-500" >Стоимость за одну онлайн консультацию</h2>
                    </div>
                </div>
            </div>
            <div class="FAQ" style="">
                <a href="#hide1" class="hide" id="hide1">Узнать стоимость</a>
                <a href="#show1" class="show" id="show1">Скрыть</a>
            <div class="question"></div>
            <div class="row list">
                <div class="col-xl-3 single-cons">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <h4>1 консультация </h4>
                            <p> (продолжительность 1 час)</p>
                        </div>
                        <div class="card-mid">
                            <h4>$100</h4>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section class="pricing-card-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center">
                        <h2 class="fs-4rem fw-500" >Коуч пакеты</h2>
                    </div>
                </div>
            </div>
            <div class="FAQ" style="">
                <a href="#hide2" class="hide" id="hide2">Показать цены</a>
                <a href="#show2" class="show" id="show2">Скрыть цены</a>
            <div class="question"></div>
                <div class="row list">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <img src="{% static 'img/icon/camera.svg" alt="">
                                <h4>3 консультации </h4>
                                <p> (1 час = $95)</p>
                            </div>
                            <div class="card-mid">
                                <h4>$285</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <img src="{% static 'img/icon/camera.svg" alt="">
                                <h4>5 консультаций</h4>
                                <p>(1 час = $90)</p>
                            </div>
                            <div class="card-mid">
                                <h4>$450</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <img src="{% static 'img/icon/camera.svg" alt="">
                                <h4>7 консультаций</h4>
                                <p>(1 час = $85)</p>
                            </div>
                            <div class="card-mid">
                                <h4>$595</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <img src="{% static 'img/icon/camera.svg" alt="">
                                <h4>10 консультаций</h4>
                                <p>(1 час = $81)</p>
                            </div>
                            <div class="card-mid">
                                <h4>$810</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Свяжитесь со мной</h2>
                </div>
                <div class="col-lg-8">
                    <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Сообщение'" placeholder="Сообщение"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Имя'" placeholder="Имя">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Тема'" placeholder="Тема">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-contactForm boxed-btn">Отправить</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3><a href="tel:+19543801649" target="_blank">+1 954-380-1649</a></h3>
                            <p>Свяжитесь со мной в любом удобном для вас мессенджер Viber/WhatsApp/SMS</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-instagram"></i></span>
                        <div class="media-body">
                            <h3><a href="https://instagram.com/psycholog_time" target="_blank">Instagram</a></h3>
                            <p>Напишите в Direct</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-comments"></i></span>
                        <div class="media-body">
                            <h3><a href="https://t.me/psycholog_time" target="_blank">Telegram</a></h3>
                            <p>Присоединяйтесь к группе!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}